html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/***********
Typography
************/

.main-text {
    font-size: 1.2em;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.logo {
    color: white;
}

/***********
Layout
************/
.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@media (min-width: 675px) {
    .container {
        flex-direction: row;
        width: 100vw;
        height: 100vh;
    }
}

.sidebar {
    background-image: url("../img/sunset_img.avif");
    background-position: center;
    background-size: cover;
    flex: 1 1 0;
    text-align: center;
}

.logo {
    display: flex;
    gap: 10px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
}

.logo-img {
    height: 10vh;
}

.photo-credit,
.photo-credit * {
    color: black;
}



main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-text {
   margin: 20px 20px;
}

@media (min-width: 675px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

    .photo-credit,
    .photo-credit * {
        color: grey;
    }

    main {
        text-align: left;
        padding-top: 20px;
        flex: 2 1 0;
        background-color: rgb(249, 248, 248);
    }

    .main-text,
    .has-acct-msg {
        width: 60%;
        margin-left: 30px;
    }
}

.new-account-form,
.form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-account-form {
    background-color: #FFF;
}

.form-inputs {
    box-shadow: 0 2px 8px -2px gray;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.form-row {
    width: 65%;
}

.form-element {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.input-label {
    text-transform: uppercase;
    font-size: 0.8em;
}

input {
    box-sizing: border-box;
}

@media (min-width: 675px) {

    .new-account-form,
    .form-inputs {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .form-inputs {
        padding-left: 30px;
    }

    .form-row {
        display: flex;
        column-gap: 2rem;
        text-align: left;
        width: 100%;
    }

    .input-label {
        width: 200px;
        text-align: left;
    }

    input {
        width: 200px;
    }

    .new-acct-btn {
        margin-left: 30px;
    }

}