.container {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height:100vh;
}

.sidebar {
    background-image: url("../img/sunset_img.avif");
    background-position: center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 40px;
}

.new-account-form {
    width: 70%;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    column-gap: 100px;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
}

.input-label {
    text-transform: uppercase;
    width: 200px;
    text-align: left;
}

input {
    width: 200px;
    box-sizing: border-box;
}