/***********
Typography
************/

.main-text {
    font-size: 1.2em;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/***********
Layout
************/
.container {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-image: url("../img/sunset_img.avif");
    background-position: center;
    background-size: cover;
    flex: 1 1 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    flex: 2 1 0;
    background-color: rgb(249, 248, 248);
}

main>* {
    width: 60%;
    padding-left: 30px;
}

.new-account-form {
    width: 100%;
    box-shadow: 0 2px 8px -2px gray;
    margin-bottom: 30px;
    background-color: #FFF;
    padding-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    column-gap: 100px;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
}

.input-label {
    text-transform: uppercase;
    font-size: 0.65em;
    letter-spacing: 0.2em;
    width: 200px;
    text-align: left;
}

input {
    width: 200px;
    box-sizing: border-box;
}